<mat-toolbar color="primary">
    <div>

        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span routerLink="/">Angular Core Deep Dive</span>
    </div>

    <span class="example-spacer"></span>
    
    <div *ngIf="!(isSmallScreen$ | async)">

        <a mat-button routerLink="/backapp" routerLinkActive="active">backapp</a> 
        <a mat-button routerLink="/ContentProjection" routerLinkActive="active">ContentProjection</a> 
        <a mat-button routerLink="/ngTemplate" routerLinkActive="active">NgTemplate</a> 
        <a mat-button routerLink="/reactive" routerLinkActive="active">Rxjs 6</a> 
        <a mat-button routerLink="/health-check" routerLinkActive="active">Health Check</a> 
    </div>
   
    <span class="example-spacer"></span>

    <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon>share</mat-icon> 
    </button>
    <button mat-icon-button *ngIf="(isSmallScreen$ | async)">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>