<div *ngIf="authService.isAuthenticated$ | async as isAuthenticated; else noAuth">
   
    <button (click)="forceRefreshSession()">RefreshSession</button>
    <button (click)="callApi()">Get User</button>
    <hr />

    <br />

    Is Authenticated: {{ isAuthenticated }}

    <br />
    userData
    <pre>{{ authService.userData$ | async | json }}</pre>

    <br />
</div>

<ng-template #noAuth>

    You are NOT authenticated
</ng-template>

Configuration loaded:
<pre>{{ authService.configuration | json }}</pre>