
<mat-nav-list class="d-flex flex-row">
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo </a>
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo2 </a>
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo3 </a>
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo4 </a>
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo5 </a>
    <a class="mx-2" mat-list-item [routerLink]="['todo']" routerLinkActive="router-link-active"> ToDo6 </a>
 </mat-nav-list>
 
 <router-outlet ></router-outlet>
