table {
    width: 100%;
}

.element-detail {
    overflow: hidden;
    display : flex;
    min-height: 104px;
    max-height: 300px;
    overflow: auto;
}

.detail-row {
    height: 0;
}

tr.example-element-row:not(.expanded):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.expanded):active {
    background: #efefef;
  }
