<p>Here's a list of cities: feel free to play with it.</p>

<p *ngIf="!cities"><em>Loading...</em></p>

<mat-table [dataSource]="cities" class="mat-elevation-z8" [hidden]="!cities">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let city">{{city.id}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let city">{{city.name}}</mat-cell>
    </ng-container>

    <!-- Lat Column -->
    <ng-container matColumnDef="lat">
        <mat-header-cell *matHeaderCellDef>Latitude</mat-header-cell>
        <mat-cell *matCellDef="let city">{{city.lat}}</mat-cell>
    </ng-container>
    <!-- Lon Column -->
    <ng-container matColumnDef="lon">
        <mat-header-cell *matHeaderCellDef>Longitude</mat-header-cell>
        <mat-cell *matCellDef="let city">{{city.lon}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" 
(page)="getData($event)"
showFirstLastButtons></mat-paginator>

<!-- the hidden attribute is an HTML5-valid content attribute that can
be legitimately set on any HTML element. The role it's supposed to play is very
similar to the CSS display: none setting: it indicates to the browser that the
element and all of its descendants should be not visible or perceivable to any user. -->