<nav class="mb-3">
    <a class="mx-2 btn btn-primary" mat-raised-button [routerLink]="['supplystore']"
        routerLinkActive="router-link-active">Supply Store</a>
    <a class="mx-2 btn btn-success" mat-raised-button [routerLink]="['concat']"
        routerLinkActive="router-link-active">test</a>
    <a class="mx-2 btn btn-danger" mat-raised-button [routerLink]="['merge']" routerLinkActive="router-link-active">test</a>
    <a class="mx-2 btn btn-warning" mat-raised-button [routerLink]="['merge']"
        routerLinkActive="router-link-active">test</a>
    <a class="mx-2 btn btn-secondary" mat-raised-button [routerLink]="['merge']"
        routerLinkActive="router-link-active">test</a>
    <a class="mx-2 btn btn-info" mat-raised-button [routerLink]="['merge']" routerLinkActive="router-link-active">test</a>
</nav>
<router-outlet></router-outlet>